include *.txt
include README.md
include pyproject.toml

graft xpublish_opendap

prune docs
prune tests
prune notebooks
prune *.egg-info

global-exclude *.nc

exclude .pre-commit-config.yaml
exclude *.yml
exclude *.enc
exclude .gitignore
exclude .isort.cfg
exclude noxfile.py
