black
check-manifest
doctr
httpx
nbsphinx
netCDF4
nox
pooch
pre-commit
pylint
pytest
pytest-cov
pytest-flake8
pytest-github-actions-annotate-failures
pytest-xdist
recommonmark
ruff
setuptools_scm
sphinx
twine
wheel
xarray
xpublish
