black
check-manifest
doctr
h5netcdf
h5pyd
httpx
nbsphinx
netCDF4
nox
pooch
pre-commit
pydap
pylint
pytest
pytest-cov
pytest-flake8
pytest-github-actions-annotate-failures
pytest-xdist
pytest-xprocess
recommonmark
ruff
setuptools_scm
sphinx
twine
wheel
xarray
xpublish
