name: Tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
        os: [windows-latest, ubuntu-latest, macos-latest]
        pydantic-version: ["<2", ">=2"]

    steps:
      - uses: actions/checkout@v2

      - name: Setup Micromamba ${{ matrix.python-version }} Pydantic${{ matrix.pydantic-version }}
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: TEST
          init-shell: bash
          create-args: >-
            python=${{ matrix.python-version }} pip
            --file requirements.txt
            --file requirements-dev.txt
            --channel conda-forge
            pydantic${{ matrix.pydantic-version }}

      - name: Install xpublish-opendap
        shell: bash -l {0}
        run: >
          python -m pip install git+https://github.com/xpublish-community/xpublish.git
          && python -m pip install -e . --no-deps --force-reinstall
          && micromamba info
          && micromamba list

      - name: Tests
        shell: bash -l {0}
        run: |
          python -m pytest -rxs --cov=xpublish_opendap --cov-report=xml tests

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3
